html,
body {
    padding: 5px;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

#chart {
    text-align: center;
    padding-top: 20px;
}

.table-container {
    max-width: 700px;
}

#more-filters {
    padding: 5px;
}

td {
    vertical-align: middle !important;
}

#search-results {
    border-top: 1px #DDD solid;
    border-collapse: collapse;
}

#left-pane {
    border-right: 1px #DDD solid;
    border-collapse: collapse;
}

.check {
    text-align: center;
}

#help-tooltip {
    font-size: 12px;
    padding-left: 5px;
    color: #1A53FFF;
}

#help-buttons-container {
    float: right;
}

#course-name-preview {
    text-align: center;
    color: #B7535C;
}

.selected-course {
    background-color: rgb(214, 97, 107) !important;
    background-color: rgba(214, 97, 107, 0.5) !important;
}

#add-course-confirmation-body {
    text-align: center;
}

#added-course-success-icon {
    padding-top: 25px;
    font-size: 70px;
    color: #008000;
}

.undo {
    position: absolute;
    left: 15px;
    bottom: 12px;
}